.player{
    width:100%;
    height:200px;
    position: absolute;
    margin-top: 10px;
    width: 100%;
    height: 300px;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
}
.player-wrapper{
    border: 1px solid red;
  height: 100%;
  width: 100%;
}
