.App {
  text-align: center;
  margin-top:30px;
  margin-bottom:30px;
  position: relative;
}
.card-content{
  background-color: azure;
  height:250px;
  border:1px solid;
  border-radius: 8px;
  border-radius: 8px;
padding-top:0px;
}
img{
  width:100%;
  height:100%;
  border-radius: 8px;
  border-radius: 8px;
}
.active-card{
  height:600px;
}
.row{
  display:flex;
  flex-wrap: wrap;
}
.card{
  padding-top:15px;
  position: static;
 

}
acti
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
